software/
.vagrant
.tmp
.librarian
modules/concat/
modules/connect/
modules/easy_type/
modules/filemapper/
modules/archive
modules/jdk7/
modules/limits/
modules/ora_config/
modules/ora_install/
modules/sleep/
modules/stdlib/
modules/swap_file/
modules/sysctl/
modules/wls_config/
modules/wls_install/
modules/yamlfile/
modules/timezone
/modules/debconf
/.bundle
/.byebug_history
/domain_wlsonly.jar
/domain_my_domain.jar
/modules/wls_profile
/modules/augeasproviders_core
/modules/augeasproviders_sysctl
/modules/ora_profile
/modules/echo
.DS_Store
/modules/firewalld
